body {
    background: lightslategray;
}

.container {
    width: 500px;
    margin: 10px auto;
    height: 400px;
    display: grid;
    grid-gap: 2px;
    grid-template-rows:50px 100px 1fr 1fr;
    grid-template-columns: 80px 1fr 30px;
    background-color: black;
    border-style: solid;
    border-width: 1px;
}

.item {
    background: #F3F3F3;
}

.one {
    grid-row: 2/4;
    grid-column: 1/3;
}

.two {
    background-color: red;
    grid-template-columns:100 ;
    grid-row: span 2;
    grid-template-rows:100px 

}

.three {
}

.four {
    background-color: blue;
    grid-row: span 1/5;
}

.five {
    grid-row: span 3/5;
    background-color: antiquewhite;
}

.six {
    grid-row: span 3/5;
}

.seven { 
    background-color: yellow; 
    grid: row 7/4;
}